.inventory-grid {
    grid-template-columns: 30 50px 50px 50px 50px 50px;
    @screen sm {
      grid-template-columns: 30 50px 50px 50px 50px 50px;
    }
    @screen md {
      grid-template-columns: 40px 80px 80px 80px 80px 80px;
    }
  
    @screen lg {
      grid-template-columns: 20px 200px 70px 70px 70px 40px ;
    }
  
    @screen xl {
      grid-template-columns: 20px 200px 150px 100px 100px 60px;
    }        
  }

  ::ng-deep .mat-date-range-input-container{
    width: 10px;

    .mat-date-range-input-separator{
      display: none;
    }
  }

  .truncate-overflow {
    --max-lines: 3;
    //position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
    max-height: 2.9em;
    text-overflow: ellipsis;
  }
  
  .truncate-overflow::after {
    content: "...";
    position: absolute;
    background:inherit;
    bottom:0;
    right:0;
  }