<div
  class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
  <!-- Header -->
  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
  >
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->

    <div class="flex flex-col activities-container">
      <div class="text-4xl font-extrabold tracking-tight">Tipo de servicio</div>
      <a class="prose font-bold"
        >Del día {{ (dateRange$ | async).fechaInicio | date: "yyyy/MM/dd" }} al
        {{ (dateRange$ | async).fechaFin | date: "yyyy/MM/dd" }}</a
      >
    </div>

    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 gap-5">
      <!-- Add product button -->
      <!--<button mat-raised-button [color]="'secondary'" (click)="openFilter()">
        <mat-icon svgIcon="heroicons_outline:filter"></mat-icon>
        <span class="ml-2 mr-1">Filtrar</span>
      </button>-->

      <button mat-raised-button [color]="'secondary'" (click)="picker.open()">
        <mat-date-range-input
          [formGroup]="dateRange"
          #rangepicker
          hidden
          [rangePicker]="picker"
          class="max-w-1"
        >
          <input
            matStartDate
            hidden
            placeholder="Start date"
            formControlName="startDate"
            class="mat-date-ranage-input-width"
          />
          <input
            matEndDate
            hidden
            placeholder="End date"
            formControlName="endDate"
            class="mat-date-ranage-input-width"
            (dateChange)="changeDate()"
          />
        </mat-date-range-input>
        <div>
          <span class="ml-2 mr-1">Elegir fecha</span>
        </div>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </button>
      <button
        mat-raised-button
        [color]="'primary'"
        (click)="clickNewTipoServicio()"
      >
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Crear tipo de servicio</span>
      </button>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
    >
      <ng-container *ngIf="serviceTypes$ | async as tipos_servicios">
        <ng-container *ngIf="tipos_servicios.length > 0; else empty">
          <div class="grid overflow-x-auto">
            <!-- Header -->
            <div
              class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 justify-between"
              matSort
              matSortDisableClear
            >
              <div>ID</div>
              <div>Tipo de servicio</div>
              <div>Icono</div>
              <div>Fecha</div>
              <div>Modificado</div>
              <div></div>
            </div>

            <!-- Rows -->
            <ng-container *ngIf="serviceTypes$ | async as tipos_servicios">
              <ng-container
                *ngFor="
                  let tipos_servicio of tipos_servicios;
                  trackBy: trackByFn
                "
              >
                <ng-container *ngIf="tipos_servicio.activo">
                  <div
                    class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b justify-between"
                  >
                    <!-- ID -->
                    <div class="truncate">
                      {{ tipos_servicio?.id }}
                    </div>

                    <!-- Cliente -->
                    <div class="truncate-overflow">
                      {{ tipos_servicio?.nombre }}
                    </div>
                    <!-- Nombres -->
                    <div
                      matTooltip="{{ tipos_servicio?.icono }}"
                      class="truncate"
                    >
                      {{ setImage(tipos_servicio?.icono) }}
                    </div>
                    <!-- ID -->
                    <div class="truncate">
                      {{ tipos_servicio?.fechaReg | date: "dd/MM/yy h:mma" }}
                    </div>
                    <!-- Actividad -->
                    <div class="truncate">
                      {{ tipos_servicio?.fechaMod | date: "dd/MM/yy h:mma" }}
                    </div>

                    <!-- Acciones -->
                    <div>
                      <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Toggle menu"
                      >
                        <mat-icon
                          svgIcon="heroicons_outline:dots-vertical"
                        ></mat-icon>
                      </button>

                      <mat-menu #menu="matMenu" xPosition="before">
                        <button
                          mat-menu-item
                          (click)="editServiceType(tipos_servicio)"
                        >
                          Editar
                        </button>
                        <button
                          mat-menu-item
                          (click)="deleteServiceType(tipos_servicio)"
                        >
                          Eliminar
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="(pagination$ | async).length"
            [pageIndex]="(pagination$ | async).page"
            [pageSize]="(pagination$ | async)?.size || 10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"
            (page)="changePage($event)"
          ></mat-paginator>
        </ng-container>
      </ng-container>

      <ng-template #empty>
        <div
          class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
        >
          No hay formatos registrados
        </div>
      </ng-template>
    </div>
  </div>
</div>
