<div matDialogContent>
    <div class="row">
        <div class="col-md-12 flex-col-center margin-b-15">
            <span class="icon-upload_file font-w-700 icon"></span>
            <span class="font-w-700">¡Guardado!</span>
        </div>
        <div class="col-md-12 text--center">
            <span>Se guardó el borrador con éxito</span>
        </div>
    </div>
</div>
<div matDialogActions align="center">
    <button mat-raised-button color="primary" (click)="onClose()">Entendido</button>
</div>