<div matDialogTitle>
    <div  class="row">
        <div class="col-md-11 margin-b-15">
            <span>
                Historial se Series
                <!-- {{data.type=='motor'?'ESN':'GSN'}} -->
            </span>
        </div>
        <div class="col-md-1 text--end margin-b-15">
            <mat-icon class="pointer" svgIcon="close" (click)="onClose()"></mat-icon>
        </div>
        <div class="col-md-4">
            <form *ngIf="esnForm" [formGroup]="esnForm">
                <mat-form-field appearance="fill">
                    <input matInput type="text" placeholder="Buscar" formControlName="esn">
                    <button mat-icon-button matSuffix (click)="getHistoryEsn()">
                        <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
<div matDialogContent class="row">
    <div class="col-md-12" *ngIf="seeTable" style="margin-bottom: 10px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="pgbuClaim">
              <th mat-header-cell *matHeaderCellDef width="17%">{{ data.type=='all'?'PGBU':data.type=='motor'?'Claim':'PGBU Claim'}} Number</th>
              <td mat-cell *matCellDef="let element">{{element.pgbuClaim}}</td>
            </ng-container>
            <ng-container matColumnDef="numberOs">
              <th mat-header-cell *matHeaderCellDef width="16%">N° OS</th>
              <td mat-cell *matCellDef="let element">OS2000{{element.numeroOs}}</td>
            </ng-container>
            <ng-container matColumnDef="serviceArea">
              <th mat-header-cell *matHeaderCellDef width="16%">Area de Servicio</th>
              <td mat-cell *matCellDef="let element"> {{element.areaServicio}} </td>
            </ng-container>
            <ng-container matColumnDef="invoiceNumber">
              <th mat-header-cell *matHeaderCellDef width="17%">{{data.type=='all'?'Invoice':data.type=='motor'?'Statement':'Invoice'}} Number <span title="descargar" class="pointer font-w-700">#</span></th>
              <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="montoFinal">
                <th mat-header-cell *matHeaderCellDef width="17%"> Monto Final </th>
                <td mat-cell *matCellDef="let element"> {{element.montoFinal}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaCartaCredito">
                <th mat-header-cell *matHeaderCellDef width="17%"> Fecha de Carta de Credito </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCartaCredito}} </td>
            </ng-container>                        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div class="col-md-12 text--center empty" *ngIf="seeNoRecords">
        <p><span class="icon-clipboard-remove"></span></p>
        <p><span class="color-gray">No se han registrado reclamos aún</span></p>
    </div>
</div>