<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span><h4 class="font-w-700">Otros reclamables</h4></span>
        </div>
        <div class="col-md-4 text--end">
            <button mat-raised-button color="primary" (click)="onDialogNewOtherClaim()">Agregar nuevo reclamable</button>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Buscar por código</mat-label>
                <input type="text" matInput placeholder="label">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef width="40%"> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado==1?'Activo':'No activo'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditOtherClaim(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogDeleteOtherClaim(element)">delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="pb-3 text-right">
                  <span class="mr-1">Pag.:</span><span class="font-w-500 mr-1">{{pageCurrent}} de {{numberOfPages}}</span>
                  <span class="mr-1">Total:</span><span class="font-w-500">{{totalRecords}}</span>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonLess" (click)="changePage('less')">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonMore" (click)="changePage('more')">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                </div>
              </div>
              
        </div>
    </div>
</div>

