<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Ingreso de Datos</h4>
        </div>
        <div class="col-md-12 mb-3">
            <span class="pointer" (click)="onListUsers()">WWID</span> > <span class="text-red pointer"> Ingresar Datos </span>
        </div>
        <div class="col-md-12 mb-5">
            <mat-card>
                <mat-card-content>
                    <form *ngIf="formWwid" [formGroup]="formWwid">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h6 class="fw-bold">Registro Básico</h6>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always"><!-- [ngClass]="{'boder-warning':formWwid.value.wwid==''}"> -->
                                    <mat-label class="fw-bold">WWID <span class="text-danger">*</span> </mat-label>
                                    <input matInput type="text" placeholder="Ingresar" formControlName="wwid">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Estado del WWID <span class="text-danger">*</span> </mat-label>
                                    <mat-select placeholder="Seleccionar" formControlName="estadoWwid">
                                        <mat-option *ngFor="let option of statusOptions" [value]="option.id">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">ID Promotion <span class="text-danger">*</span> </mat-label>
                                    <input matInput type="text" placeholder="Ingresar" formControlName="idPromotion">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Estado del ID Promotion <span class="text-danger">*</span> </mat-label>
                                    <mat-select placeholder="Seleccionar" formControlName="estadoIdPromotion">
                                        <mat-option *ngFor="let option of statusOptions" [value]="option.id">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Locación <span class="text-danger">*</span> </mat-label>
                                    <mat-select placeholder="Seleccionar" formControlName="locacion" (selectionChange)="changeLocation()">
                                        <mat-option *ngFor="let option of locationOptions" [value]="option.id">
                                            {{option.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Código de Cuenta</mat-label>
                                    <input matInput type="text" [value]="selectedLocation==null?'-':selectedLocation.descripcion" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <h6 class="fw-bold">Información del usuario</h6>
                                <mat-hint *ngIf="isSearching"><mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar></mat-hint>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Nombre completo</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.nombres+' '+userCummins.apellidos:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Clasificacion del empelado</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.clasificacion:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">DNI</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.dni:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Correo de la empresa</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.correo:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Fecha de ingreso</mat-label>
                                    <input matInput type="text" [value]="userCummins==null?'-':userCummins.fechaIngreso|date:'dd/MM/yyyy'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Puesto</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.cargo:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Directorio</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.directorio:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Gerencia</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.gerencia:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Area</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.area:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Sede</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.sede:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Jefe directo</mat-label>
                                    <input matInput type="text" [value]="userCummins!=null?userCummins.jefe:'-'" [disabled]="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-bottom: 20px;">
                    <button type="button" mat-raised-button color="primary" (click)="onRegisterWWID()">Ingresar Datos</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>