<div matDialogTitle>
    <span>{{data.option=='new'? 'Nuevo': 'Editar'}} Falla</span>
</div>
<div matDialogContent>
    <form [formGroup]="formFailure" *ngIf="formFailure">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select placeholder="Placeholder" formControlName="tipo" >
                        <mat-option [value]="1">Motor</mat-option>
                        <mat-option [value]="2">Generador</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Grupo mayor</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="grupoMayor">
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="grupoMayorDescripcion">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Parte Fallada del Sistema</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="parteFallada">
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="parteFalladaDescripcion">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Tipo de Falla</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="tipoFalla">
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput  placeholder="Ingresar" formControlName="tipoFallaDescripcion">
                </mat-form-field>
            </div>

            <div class="col-md-3 flex-xy-center">
                <mat-slide-toggle color="primary" formControlName="estado">Activo</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
<div matDialogActions align="end">
    <button mat-raised-button (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSaveFailure()">{{data.option=='new'? 'Crear': 'Guardar'}}</button>
</div>

