<div matDialogTitle>
    <span>Nueva/Editar Area de Servicio</span>
</div>
<div matDialogContent>
    <form>
        <div class="row">

            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Codigo</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Código de Servicio SAP</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Código de Constante</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 flex-xy-center">
                <mat-slide-toggle color="primary" >Activo</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
<div matDialogActions align="end">
    <button mat-raised-button (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSaveServiceArea()">Crear/Guardar</button>
</div>

