.row{
    .f-size{
        font-size: 100px;
    }
    div{
        text-align: center;
        padding: 30px;
    }   
}
h3{
    text-align: center;
}
.mat-dialog-title{
    margin: 10px 0;
}
.mat-dialog-content{
    margin: 25px 0;
    // color: #64748B;
}
.box:hover{
    background: #C41C1C;
    color: white;
    border-radius: 8px;
}