<h3 mat-dialog-title>¿Que tipo de registro básico deseas realizar?</h3>
<div mat-dialog-content>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-box">
            <div class="box pointer" (click)="onRegisterBasic('motor')">
                <span class="icon-car f-size"></span>
            </div>
            <p>
                <span class="fw-bold color-gray">Motores</span>                
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-box">
            <div class="box pointer" (click)="onRegisterBasic('generador')">
                <span class="icon-electric-generator f-size"></span>
            </div>
            <p>
                <span class="fw-bold color-gray">Generadores</span>
            </p>
        </div>
    </div>
</div>
