<form *ngIf="form" [formGroup]="form">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label for="">Codigo de Warrany Memo</mat-label>
                <input matInput type="text" placeholder="Ingresar" formControlName="codigoAdicional">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label for="">Punto de ejecucion de Warrany Memo</mat-label>
                <input matInput type="text" placeholder="Ingresar" formControlName="ejecucionAdicional">
            </mat-form-field>
        </div>
        
        <div class="col-md-3 flex-xy-center">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="medida">
                <mat-radio-button value="h">H</mat-radio-button>
                <mat-radio-button value="km">KM</mat-radio-button>
                <mat-radio-button value="mi">MI</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-3">
                <mat-form-field appearance="fill">
                <mat-label>Fecha de ejecucion de Warrany Memo</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaAdicional">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-1 flex-xy-center">
            <button mat-icon-button color="primary" (click)="onGetForm()"><mat-icon>check</mat-icon></button>
        </div>   
    </div>
</form>