<div matDialogTitle>
    <span>Nuevo/Editar parte</span>
</div>
<div matDialogContent>
    <form>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Código</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Precio FOB</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>

            <div class="col-md-9">
                <mat-form-field>
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput  placeholder="Ingresar">
                </mat-form-field>
            </div>
            <div class="col-md-3 flex-xy-center">
                <mat-slide-toggle color="primary" >Activo</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
<div matDialogActions align="end">
    <button mat-raised-button (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSavePart()">Crear/Guardar</button>
</div>

