<div matDialogTitle class="text--end">
    <mat-icon class="pointer" svgIcon="close" (click)="onClose(false)"></mat-icon>
</div>
<div matDialogContent>
    <div class="row">
        <div class="col-md-12 flex-col-center margin-b-15">
            <span class="icon-question font-w-700 icon"></span>
        </div>
        <div class="col-md-12 text--center">
            <span>{{data.text}}</span>
        </div>
    </div>
</div>
<div matDialogActions align="center">
    <button mat-raised-button (click)="onClose(false)">NO</button>
    <button mat-raised-button color="primary" (click)="onClose(true)">SI</button>
</div>
