.selectors{
    margin-top: 20px;
    .search{
        display: flex;
        align-items: flex-end;
    }
}
.btn-register{
    padding-left: 10px;
    padding-right: 10px;
    button{
      font-size: 11px;
    }
}