.selectors{
    margin-top: 20px;
    .search{
        display: flex;
        align-items: flex-end;
    }
}
.btn-register{
    padding-left: 10px;
    padding-right: 10px;
    button{
      font-size: 11px;
    }
}
table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .table-bitacora{
    height: 250px;
    table{
      box-shadow: none;
      th{
        font-weight: 700;
        background-color: #F1F1F1;
        color: #000000 !important;
        border-bottom: 2px solid #1E293B;
      }
    }
  }

.observed{
  color: red !important;
}

.caja-bitacora{
  background-color: #F1F1F1;
}

.mat-menu-item{
  height: 66px;
}
.mat-menu-item:hover{
  border-left: 5px solid #C41C1C;
}