<div class="container">
    <div class="row">
        <div class="col-md-12 margin-b-15">
            <h4 class="font-w-700 margin-b-15">Crear registro básico del motor</h4>
            <span class="pointer" (click)="onGarantias()">Garantías</span> > <span class="text-red pointer">Crear registro</span>
        </div>
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <span>Descargar plantilla</span>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <mat-icon  class="icon-size-16" svgIcon="heroicons_outline:document-text"></mat-icon>
                                </div>
                                <div>
                                    <p><span>Descarga el formato de la plantilla y completa los datos de registro,</span><span> luego sube el archivo para ingresar todos los reclamos del documento.</span></p>
                                    <p><mat-icon svgIcon="heroicons_outline:download"></mat-icon><span>Descargar formato</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"></div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
