<div class="container">
    <div class="row selectors">
        <form *ngIf="formFilter" [formGroup]="formFilter">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="fw-bold">Herramientas Electrónicas</h3>
                </div>
                <div class="col-md-3 text-end">
                    <button mat-raised-button color="primary" (click)="onRegisterBasic()" *ngIf="acceder('Registro Solicitud')">Crear Solicitud de
                        Herramienta</button>
                </div>
                <div class="col-md-3 search">
                    <mat-form-field floatLabel="always">
                        <input matInput type="text" placeholder="Buscar por Usuario" formControlName="usuario">
                        <button mat-icon-button matSuffix (click)="listUsers()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field floatLabel="always">
                        <mat-label class="fw-bold">Estado</mat-label>
                        <mat-select placeholder="Seleccionar" formControlName="estado" (selectionChange)="listUsers()">
                            <mat-option [value]="0">Baja</mat-option>
                            <mat-option [value]="1">Activo</mat-option>
                            <mat-option [value]="2">Deshabilitado</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field floatLabel="always">
                        <mat-label>Fecha de Solicitud</mat-label>
                        <mat-date-range-input [rangePicker]="pickerA">
                            <input matStartDate placeholder="Desde" formControlName="fechaDeSolicitudInicio">
                            <input matEndDate placeholder="Hasta" formControlName="fechaDeSolicitudFin"
                            (dateChange)="listUsers()">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerA></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="col-md-12 mb-5">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef width="15%"> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombres}} {{element.apellidos}} </td>
                    </ng-container>
                    <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef width="15%"> Area </th>
                        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                    </ng-container>
                    <ng-container matColumnDef="jefeAprobador">
                        <th mat-header-cell *matHeaderCellDef width="15%"> Jefe Aprobador </th>
                        <td mat-cell *matCellDef="let element"> {{element.jefe!=null?element.jefe:'-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipoDeLicencia">
                        <th mat-header-cell *matHeaderCellDef width="10%"> Tipo de Licencia </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoDeLicencia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef width="10%"> Cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pcidEquipo">
                        <th mat-header-cell *matHeaderCellDef width="10%"> PCID Equipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.pcid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaDeSolicitud">
                        <th mat-header-cell *matHeaderCellDef width="10%"> Fecha de Solicitud </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaReg | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef width="10%"> Estado</th>
                        <td mat-cell *matCellDef="let element"> {{element.estado == 0 ? 'Baja' : element.estado
                            == 1 ? 'Activo' : element.estado == 2 ? 'Deshabilitado' : element.estado}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef width="5%"> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="onEditBasic(element)" [disabled]="element.estado!=2?false:acceder('Editar Solicitud Observada')">
                                <!-- <mat-icon>chevron_right</mat-icon> -->
                                <img style="height:30px" src="./../../../../../../assets/icons/arrow-rigth.svg" alt="">
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="pagination flex items-center justify-end">
                    <span class="mr-1"></span><span class="font-w-500 mr-1">{{countStart}}-{{countEnd}}</span>
                    <span class="mr-1"> de </span><span class="font-w-500">{{totalUsers}}</span>
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                        [disabled]="prevButton" (click)="changePage('less')">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                        [disabled]="nextButton" (click)="changePage('more')">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>