<div matDialogTitle class="text--end">
    <mat-icon class="pointer" (click)="onClose()">close</mat-icon>
</div>
<div matDialogContent>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mb-3">
            <div class="icon-upload">
                <img src="./../../../../../../assets/images/adjuntar.png" alt="">
                <span>Adjuntar</span>
            </div>
        </div>
        <div class="col-md-12" *ngIf="data.modulo=='garantias'">
            <mat-form-field floatLabel="always">
                <mat-label>Seccion</mat-label>
                <mat-select placeholder="Seleccionar una sección" [(ngModel)]="seccionSeleccionada">
                    <mat-option *ngFor="let seccion of secciones" [value]="seccion.idSeccion">
                        {{seccion.valorSeccion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-12" *ngIf="data.modulo=='garantias'">
            <mat-form-field floatLabel="always">
                <mat-label>Titulo</mat-label>
                <input matInput type="text" [(ngModel)]="tituloDocumento" placeholder="Ingresar Titulo del Documento">
            </mat-form-field>
        </div> -->
        <div class="col-md-12 mb-5">
            <button type="button" class="btn-attach" mat-raised-button (click)="fileInputDetallesReclamo.click()">
                <img src="./../../../../../assets/icons/fallas-upload-document.svg" class="me-1" alt="">Adjuntar documentos
            </button>
            <input hidden type="file" (change)="cargarDocumentos($event);" #fileInputDetallesReclamo multiple> 
        </div>
        <div class="col-md-12 mb-5">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-start align-items-center" *ngFor="let documento of documentosCargados">
                    <span>{{documento.name}}</span>
                    <button type="button" mat-icon-button (click)="deleteDocumentDetalleReclamo(documento.name)"><mat-icon>close</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center bnt-add">
            <button mat-raised-button color="primary" type="button" (click)="agregarDocumento()" style="width: 40%;">Agregar</button>
        </div>
    </div>
</div>