/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import './bootstrap/bootstrap.min.css';

.mat-dialog-actions {
  width: calc(100%);
  margin-left: -24px;
}

.font-w-900{ font-weight:900; }
.font-w-700{ font-weight:700; }
.font-w-500{ font-weight: 500;}
.container{
  max-width: 100%;
  margin-top: 20px;
}
.p-t-5{
  padding-top: 5px;
}
.margin-0{ margin: 0;}
table{
  width: 100%;
  th{
    background: #64748B;
    color: white !important;
    font-weight: 700;
  }
}
mat-form-field{
  width: 100%;
}
.text-red{
  color: #C41C1C;
}
.pointer{
  cursor: pointer;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.card-bg-gray{
  background-color: #f9f9f9 !important;
}
.input-bg-gray{
  background-color: #E0E0E0 !important;
}
.mat-radio-button {
  margin-left: 16px;
}
.flex-xy-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.font-sz-16{
  font-size: 16px;
}
.font-sz-18{
  font-size: 18px;
}
.font-sz-24{
  font-size: 24px;
}
.margin-b-15{
  margin-bottom: 15px;
}
.notification-green{
  background-color: #B4F1D9;
  color: #1E293B;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  .mat-icon{
    color: #0BEF94;
  }
}
.notification-red{
  background-color: rgba(255, 133, 122, 0.2);;
  color: #1E293B;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  .mat-icon{
    color: #FF857A;
  }
}
.text--center{
  text-align: center !important;
}
.text--end{ text-align: end;}
.file-upload-doc{
  border: black 2.5px dashed;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.color-gray{
  color: #64748B;
}
.scroll-vertical{
  overflow-y: scroll;
}
