.w7{
    width: 70%;
}
.w3{
    width: 30%;
}
.w6{
    width: 60%;
}
.w4{
    width: 40%;
}
.buttons{
    button{
        background-color: #E2E8F0;
        margin: 0 5px;
    }
}
.margin-b-20{
    margin-bottom: 20px;
}
.margin-b-10{
    margin-bottom: 10px;
}
th{
    background-color: #E2E8F0;
    color: #1E293B !important;
}
table{
    mat-form-field{
        width: auto;
    }
}
.mat-expansion-panel{
    background-color: #F4F8FE !important;
}
.total{
    background-color: #F4F8FE !important;
}

.lightButton{
    background-color: #E2E8F0 !important;
    color: #1e293b !important;
}
.darkButton{
    background-color: #1E293B !important;
    color: #E2E8F0 !important;
}

.card-table{
    border: 1px solid #C6C4C4;
    border-radius: 8px 8px 0px 0px
}
.card-narrativa-cabezera{
    background: #E2E8F0 !important;
    border-radius: 0px;
}
.card-narrativa-cuerpo{
    background: #F9F9F9 !important;
    border-radius: 0px 0px 8px 8px
}
.monto-narrativa{
    width: 100%;
    text-align: end;
    margin: 0;
    margin-right: 20px;
}
.card-table{
    border: 1px solid #C6C4C4;
    border-radius: 8px 8px 0px 0px
}