<div class="container">
    <div class="row">
        <div class="col-md-9">
            <span><h4 class="font-w-700">Constantes</h4></span>
        </div>
        <div class="col-md-3 text--end">
            <button mat-raised-button color="primary" (click)="onDialogNewConstant()">Agregar nueva constante</button>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Buscar por codigo">
            <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef width="13%"> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="laborRate">
                    <th mat-header-cell *matHeaderCellDef  width="13%"> LaborRate </th>
                    <td mat-cell *matCellDef="let element"> {{element.laborRate}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="kmRate">
                    <th mat-header-cell *matHeaderCellDef  width="13%"> KmRate </th>
                    <td mat-cell *matCellDef="let element"> {{element.kmRate}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="bfc">
                    <th mat-header-cell *matHeaderCellDef width="13%"> BCF </th>
                    <td mat-cell *matCellDef="let element"> {{element.bfc}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="markup">
                    <th mat-header-cell *matHeaderCellDef width="13%"> Markup </th>
                    <td mat-cell *matCellDef="let element"> {{element.markup}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="siteLabor">
                    <th mat-header-cell *matHeaderCellDef width="13%"> SiteLabor </th>
                    <td mat-cell *matCellDef="let element"> {{element.siteLabor}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef width="12%"> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado==0? 'Activo':'Inactivo'}} </td>
                  </ng-container>          
                  
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text--center" width="10%"> Acciones </th>
                    <td mat-cell *matCellDef="let element" class="text--center">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditConstant(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogDeleteConstant(element)">delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>                         
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="pb-3 text-right">
                  <span class="mr-1">Pag.:</span><span class="font-w-500 mr-1">{{pageCurrent}} de {{numberOfPages}}</span>
                  <span class="mr-1">Total:</span><span class="font-w-500">{{totalRecords}}</span>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonLess" (click)="changePage('less')">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonMore" (click)="changePage('more')">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                </div>
              </div>
              
        </div>
    </div>
</div>