<div
  class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
  <!-- Header -->
  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
  >
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="flex flex-row justify-start items-center w-full">
      <div class="flex flex-col activities-container">
        <div class="text-4xl font-extrabold tracking-tight">
          <span>Acta de conformidad</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto bg-gray-100"
    >
      <div
        *ngIf="isLoaded"
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-5"
      >
        <div
          class="flex flex-col-reverse sm:flex-row gap-5 items-center justify-between"
          *ngIf="cliente"
        >
          <ng-container>
            <div class="flex flex-col sm:flex-row gap-10 w-10/12 sm:w-3/6">
              <mat-form-field class="w-full" floatLabel="always">
                <mat-label class="font-bold">Cliente</mat-label>
                <input matInput type="text" [value]="os" readonly disabled />
              </mat-form-field>

              <mat-form-field class="w-full" floatLabel="always">
                <mat-label class="font-bold">Cliente</mat-label>
                <input
                  matInput
                  type="text"
                  [value]="cliente"
                  readonly
                  disabled
                />
              </mat-form-field>
            </div>

            <div
              class="w-10/12 sm:w-auto flex gap-2"
              [matTooltip]="
                formGroup?.invalid
                  ? 'Existen campos que no cumplen con el patrón requerido'
                  : ''
              "
            >
              <button
                *ngIf="idActividadFormatoActa !== 0"
                class="w-full"
                mat-raised-button
                [color]="'primary'"
                (click)="printPdf()"
                [disabled]="loadingReport"
              >
                <mat-icon
                  *ngIf="!loadingReport"
                  class="text-white mr-1"
                  svgIcon="heroicons_outline:document-report"
                ></mat-icon>
                <mat-progress-spinner
                  *ngIf="loadingReport"
                  [diameter]="24"
                  [mode]="'indeterminate'"
                >
                </mat-progress-spinner>
                <a *ngIf="!loadingReport">Descargar reporte</a>
                <a *ngIf="loadingReport">Descargando....</a>
              </button>
              <button
                *ngIf="idActividadFormatoActa !== 0"
                class="w-full"
                mat-raised-button
                [color]="'secondary'"
                [disabled]="formGroup?.invalid || isLoading"
                (click)="postActa($event, j)"
              >
                <mat-progress-spinner
                  *ngIf="isLoading"
                  [diameter]="24"
                  [mode]="'indeterminate'"
                ></mat-progress-spinner>
                <mat-icon
                  *ngIf="!isLoading"
                  svgIcon="heroicons_outline:save"
                ></mat-icon>
                <span *ngIf="!isLoading" class="ml-2 mr-1">Guardar</span>
                <span *ngIf="isLoading" class="ml-2 mr-1">Guardando..</span>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="w-full mb-4 mt-4" *ngIf="alert">
          <fuse-alert
            [appearance]="'soft'"
            *ngIf="alert"
            [type]="alert?.type"
            [showIcon]="false"
          >
            {{ alert.message }}
          </fuse-alert>
        </div>
        <form [formGroup]="formGroup" novalidate>
          <div class="flex flex-col items-center">
            <div class="min-w-80 w-full p-2" *ngIf="actaData">
              <ng-container
                *ngFor="let grupo of actaData.grupos; let j = index"
                class="sm:col-span-2 md:col-span-4 flex justify-start gap-5 flex-wrap p-6 bg-card shadow rounded-2xl overflow-hidden m-5"
              >
                <ng-container *ngIf="grupo.activo">
                  <div
                    class="sm:col-span-2 md:col-span-4 flex flex-col justify-start gap-5 flex-wrap p-6 bg-card shadow rounded-2xl overflow-hidden m-5"
                    *ngIf="grupo.parametros.length > 0"
                  >
                    <div class="flex justify-between items-center">
                      <div class="flex gap-2">
                        <p class="text-2xl font-medium mb-3 items-center">
                          {{ grupo?.nombre }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="grid flex-row overflow-x-auto overflow-y-hidden w-full each-parametro"
                    >
                      <ng-container
                        *ngFor="
                          let parametro of grupo.parametros;
                          let k = index
                        "
                      >
                        <ng-container *ngIf="parametro.activo">
                          <div
                            class="flex w-60 min-w-60 items-center"
                            [ngClass]="{
                              'mb-3': grupo.pos === 'v',
                              'mr-3': grupo.pos === 'h'
                            }"
                            [ngStyle]="{
                              'grid-area':
                                parametro.fila +
                                ' / ' +
                                parametro.columna +
                                ' / ' +
                                (parametro.fila + 1) +
                                ' / ' +
                                (parametro.columna + 1)
                            }"
                            *ngIf="parametro.activo"
                          >
                            <ng-container [ngSwitch]="parametro.idParametro">
                              <!-- TEXTO -->
                              <mat-form-field
                                *ngSwitchCase="1"
                                class="w-full font-semibold"
                                floatLabel="always"
                              >
                                <mat-label>{{
                                  parametro.visible ? parametro.label : " "
                                }}</mat-label>
                                <input
                                  matInput
                                  type="text"
                                  formControlName="{{getParametroControl({j, k})}}"
                                  placeholder="{{ parametro.placeholder }}"
                                />
                                <mat-error
                                  >{{ getErrorMessage(getParametroControl({j, k})) }}</mat-error
                                >
                              </mat-form-field>

                              <!-- NUMERICO -->

                              <mat-form-field
                                *ngSwitchCase="2"
                                floatLabel="always"
                                class="w-full"
                              >
                                <mat-label>{{
                                  parametro.visible ? parametro.label : " "
                                }}</mat-label>
                                <input
                                  matInput
                                  formControlName="{{getParametroControl({j, k})}}"
                                  type="number"
                                  placeholder="{{ parametro.placeholder }}"
                                />
                                <mat-error
                                  >{{ getErrorMessage(getParametroControl({j, k})) }}</mat-error
                                >
                              </mat-form-field>

                              <!-- AREA_TEXTO -->
                              <mat-form-field
                                *ngSwitchCase="3"
                                floatLabel="always"
                                class="w-full"
                              >
                                <mat-label>{{
                                  parametro.visible ? parametro.label : " "
                                }}</mat-label>
                                <textarea
                                  class="resize-none"
                                  formControlName="{{getParametroControl({j, k})}}"
                                  matInput
                                  placeholder="{{ parametro.placeholder }}"
                                ></textarea>
                                <mat-error
                                  >{{ getErrorMessage(getParametroControl({j, k})) }}</mat-error
                                >
                              </mat-form-field>

                              <!-- UPLOAD (ARCHIVO) -->

                              <div *ngSwitchCase="4" class="w-full">
                                <span class="text-gray-800 font-medium">{{
                                  parametro.visible ? parametro.label : " "
                                }}</span>
                                <ui-upload-file
                                  [required]="parametro.obligatorio"
                                  [editable]="parametro.editable"
                                  [type]="'imagen'"
                                  [image]="
                                    parametro.valor !== '' &&
                                    parametro.valor !== null
                                      ? setImage(parametro.valor)
                                      : parametro.dato !== '' &&
                                        parametro.dato !== null
                                      ? setImage(parametro.dato)
                                      : './assets/images/ui/no-image/no-image.svg'
                                  "
                                  [loading]="filesLoading[getParametroControl({ i,j, k})]"
                                  (sourceFile)="onChageFile($event, getParametroControl({ i,j, k}))"
                                ></ui-upload-file>
                                <!-- <ng-template #empty>
                                  <img
                                    class="w-44"
                                    matTooltip="No existe un archivo cargado"
                                    [src]="
                                      './assets/images/ui/no-image/no-image.svg'
                                    "
                                  />
                                </ng-template> -->
                              </div>

                              <!-- FECHA -->
                              <mat-form-field
                                *ngSwitchCase="5"
                                floatLabel="always"
                                class="w-full"
                              >
                                <mat-label>{{
                                  parametro.visible ? parametro.label : " "
                                }}</mat-label>
                                <input
                                  matInput
                                  formControlName="{{getParametroControl({j, k})}}"
                                  [matDatepicker]="datepicker"
                                  placeholder="{{ parametro.placeholder }}"
                                  readonly
                                />
                                <mat-error>
                                  {{ getErrorMessage(getParametroControl({j, k})) }}
                                </mat-error>

                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="datepicker"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #datepicker>
                                  <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>
                                      Cancel
                                    </button>
                                    <button
                                      mat-raised-button
                                      color="primary"
                                      matDatepickerApply
                                    >
                                      Aplicar
                                    </button>
                                  </mat-datepicker-actions>
                                </mat-datepicker>
                              </mat-form-field>

                              <!-- IMAGEN -->
                              <div *ngSwitchCase="6" class="w-full">
                                <span class="text-gray-800 font-medium">{{
                                  parametro.visible ? parametro.label : " "
                                }}</span>
                                <ui-upload-file
                                  [required]="parametro.obligatorio"
                                  [editable]="parametro.editable"
                                  [type]="'imagen'"
                                  [image]="
                                    !parametro.valor ||
                                    parametro.valor === 'null'
                                      ? setImage(parametro.dato)
                                      : setImage(parametro.valor)
                                  "
                                  [loading]="filesLoading[getParametroControl({j, k})]"
                                  (sourceFile)="onChageFile($event, getParametroControl({j, k}))"
                                ></ui-upload-file>
                              </div>

                              <!-- FIRMA -->
                              <!-- <div *ngSwitchCase="7" class="w-full">
                                <span class="text-gray-800 font-medium">{{
                                  parametro.visible ? parametro.label : " "
                                }}</span>

                                <ui-upload-file
                                  *ngIf="
                                    parametro.valor !== '' &&
                                      parametro.valor !== null;
                                    else empty
                                  "
                                  [required]="parametro.obligatorio"
                                  [editable]="'false'"
                                  [type]="'sign'"
                                  [paramIdx]="j"
                                  [groupIdx]="k"
                                  [image]="
                                    parametro.valor !== '' &&
                                    parametro.valor !== null
                                      ? setImage(parametro.valor)
                                      : setImage(parametro.dato)
                                  "
                                  (sourceFile)="onChageFile($event, getParametroControl({j, k}))"
                                  (removeSign)="removeSign($event, j, k)"
                                ></ui-upload-file>
                                <ng-template #empty>
                                  <img
                                    class="w-44"
                                    matTooltip="No existe una firma cargada"
                                    [src]="
                                      './assets/images/ui/no-image/no-image.svg'
                                    "
                                  />
                                </ng-template>
                              </div> -->

                              <div *ngSwitchCase="7" class="w-full">
                                <span class="text-gray-800 font-medium">{{
                                  parametro.visible ? parametro.label : " "
                                }}</span>
                                <ui-upload-file
                                  [required]="parametro.obligatorio"
                                  [editable]="parametro.editable"
                                  [type]="'imagen'"
                                  [image]="
                                    parametro.valor !== '' &&
                                    parametro.valor !== null
                                      ? setImage(parametro.valor)
                                      : parametro.dato !== '' &&
                                        parametro.dato !== null
                                      ? setImage(parametro.dato)
                                      : './assets/images/ui/no-image/no-image.svg'
                                  "
                                  [loading]="filesLoading[getParametroControl({ i,j, k})]"
                                  (sourceFile)="onChageFile($event, getParametroControl({ i,j, k}))"
                                ></ui-upload-file>
                              </div>

                              <!-- LABEL -->
                              <div *ngSwitchCase="8" class="w-full">
                                <p class="text-gray-900 font-medium">
                                  {{
                                    parametro.visible
                                      ? parametro.label
                                      : (" " | uppercase)
                                  }}
                                </p>
                              </div>

                              <!--checkbox-->
                              <div *ngSwitchCase="9" class="w-full">
                                <div class="flex flex-col">
                                  <mat-label *ngIf="parametro.visible"
                                    >{{ parametro.label }}
                                  </mat-label>
                                  <mat-slide-toggle
                                    [color]="'primary'"
                                    formControlName="{{getParametroControl({j, k})}}"
                                  ></mat-slide-toggle>
                                </div>
                              </div>

                              <!--SELECT-->
                              <div *ngSwitchCase="10" class="w-full">
                                <div class="flex flex-col">
                                  <mat-form-field floatLabel="always">
                                    <mat-label>{{
                                      parametro.visible ? parametro.label : " "
                                    }}</mat-label>
                                    <mat-select
                                      placeholder="{{ parametro.placeholder }}"
                                      [value]="parametro.valor"
                                      formControlName="{{getParametroControl({j, k})}}"
                                    >
                                      <mat-option
                                        *ngFor="
                                          let option of splitOptions(
                                            parametro.dato
                                          )
                                        "
                                        [value]="option"
                                        >{{ option }}</mat-option
                                      >
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                              <!--SELECT-->
                            </ng-container>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
