<div class="background">
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-card>
                <mat-card-title>Link de Garantías</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p><span><a href="">Warranty System Training</a></span></p>
                            <p><span><a href="">Warranty support Portal</a></span></p>
                            <p><span><a href="">warranty@cummins.com</a></span></p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <mat-card>
                <mat-card-title>Link de Cummins</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <p><span><a href="">QuickServe Online</a></span></p>
                            <p><span><a href="">Service Locator</a></span></p>
                            <p><span><a href="">Cummins Inc.</a></span></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                            <p><span><a href="">Cummins Power Generation</a></span></p>
                            <p><span><a href="">Cummins Generator Technologies</a></span></p>
                            <p><span><a href="">Cummins Engines</a></span></p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12">
            <mat-card>
                <mat-card-title>Documentos</mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <a href="">QuickServe Online (QSQL)</a>
                            </span></p>
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <!-- <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon>                               -->
                                <a href="">WAM - on QSQL</a>
                            </span></p>
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <!-- <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon>                                 -->
                                <a href="">WebParts</a>
                            </span></p>
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <!-- <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon>                                 -->
                                <a href="">Self-serve Worksheet</a>
                            </span></p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <!-- <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon>                                 -->
                                <a href="">Product coverage Manual- on QSQL</a>
                            </span></p>
                            <p><span class="document">
                                <img src="./../../../../assets/icons/icon-download-home.svg" style="width: 22px;">
                                <!-- <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon>                                 -->
                                <a href="">Fail Code Manual-on QSQL</a>
                            </span></p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
 </div>
</div>
