<div class="container">
    <div class="row">
        <div class="col-md-12 margin-b-15">
            <h4 *ngIf="this.action=='new'" class="font-w-700 margin-b-15">Crear registro básico del {{typeWarrantyText}}</h4>
            <h4 *ngIf="this.action=='edit'" class="font-w-700 margin-b-15">Interna de registro Nº122344555</h4>
            <span class="pointer" (click)="onGarantias()">Garantías</span> > <span class="text-red pointer"> {{this.action=='new'?'Crear registro':'Registro de garantía'}}</span>
        </div>
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <div class="col-md-12 margin-b-15"><h5>Registro básico</h5></div>
                    <form *ngIf="formRegisterEngine" [formGroup]="formRegisterEngine">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">ESN</mat-label>
                                        <input matInput type="text" formControlName="esn" placeholder="Ingresar ESN"> <!-- (ngModelChange)="getEsn()"> -->
                                        <button mat-icon-button matSuffix (click)="getEsn()" color="primary">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                        <mat-hint *ngIf="mostrarProgressBarEsn"><mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar></mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 flex-align-center">
                                    <span class="flex-align-center pointer" (click)="onOpenDialogHistoryEsn()">
                                        <img src="./../../../../../assets/icons/icon-historial.svg" style="width: 26px;" class="me-1">
                                        Historial de Series
                                        <!-- {{typeWarrantyText=='motor'?'ESN':'GSN'}} -->
                                    </span>
                                </div>
                                <div class="col-md-3 flex-align-center">
                                    <button mat-raised-button color="primary" type="button" (click)="onOpenDialogRegisterEnrollment()">Registrar Matricula</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-card class="card-bg-gray">
                                <div class="row">
                                    <div class="col-md-12 margin-b-15">
                                        <span class="font-w-500 font-sz-16">Información de matrícula</span>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Cliente</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.cliente:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Direccion</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.direccion:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Aplicacion del {{garantiaParaGestionar==null?typeWarrantyText:garantiaParaGestionar.tipo==1?'motor':'generador'}}</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.aplicacion:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Modelo del {{garantiaParaGestionar==null?typeWarrantyText:garantiaParaGestionar.tipo==1?'motor':'generador'}}</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.modelo:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">CPL</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.cpl:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3" *ngIf="mostrarPTO">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">PTO</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada!=null?matriculaEcontrada.etoPto:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3" *ngIf="mostrarFechaGarantia">
                                        <mat-form-field>
                                            <mat-label>Fecha inicio de garantía</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="matriculaEcontrada==null?'-':matriculaEcontrada.fechaInicio | date: 'dd/MM/yyyy' ">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 flex-align-center" *ngIf="mostrarBis">
                                        <mat-checkbox color="primary" [disabled]="true" [value]="matriculaEcontrada!=null?matriculaEcontrada.bis:false">BIS</mat-checkbox>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Orden de servicio</mat-label>
                                        <input matInput type="text" formControlName="os" placeholder="Ingrese el OS"> <!--(ngModelChange)="getOs()" -->
                                        <button mat-icon-button matSuffix (click)="getOs()" color="primary" [disabled]="action=='edit'">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                        <mat-hint *ngIf="mostrarProgressBarOS"><mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar></mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">BU</mat-label>
                                        <input matInput type="text" placeholder="" [disabled]="true" [value]="areaDeServicioAsociadoAlOrdenDeServicio!=null?areaDeServicioAsociadoAlOrdenDeServicio.bu:'-'">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-card class="card-bg-gray">
                                <div class="row">
                                    <div class="col-md-12 margin-b-15">
                                        <span class="font-w-500 font-sz-16">Información del SAP</span>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Clase de actividad</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="ordenDeServicioEncontrado!=null?ordenDeServicioEncontrado.claseActividad:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Fecha de liberacion</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="ordenDeServicioEncontrado==null?'-':ordenDeServicioEncontrado.fechaLib | date: 'dd/MM/yyyy' ">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label for="">Area de servicios</mat-label>
                                            <input matInput [disabled]="true" type="text" placeholder="" [value]="areaDeServicioAsociadoAlOrdenDeServicio!=null?areaDeServicioAsociadoAlOrdenDeServicio.descripcion:'-'">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Tipo de garantía</mat-label>
                                        <mat-select placeholder="Placeholder" formControlName="tipoGarantia" (ngModelChange)="selectTypeWarranty()" placeholder="Seleccionar">
                                            <mat-option *ngFor="let warrantyType of warrantyTypes" [value]="warrantyType.value">{{warrantyType.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8 d-flex align-items-center">
                                    <span class="text-danger" *ngIf="formRegisterEngine.value.tipoGarantia==null">Seleccione un tipo de garantía</span>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.e">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Numero de parte del repuesto</mat-label>
                                        <input matInput type="text" placeholder="Ingresar" formControlName="numParteRepuesto">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.a">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Punto de falla {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput type="text" placeholder="Ingresar" formControlName="puntoFalla">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.i">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Codigo {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput type="text" placeholder="Ingresar" formControlName="codigoAdicional">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.g">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Punto de ejecución {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput type="text" placeholder="Ingresar" formControlName="ejecucionAdicional">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 flex-xy-center" *ngIf="viewsTypesWarranty.b">
                                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="medida">
                                        <mat-radio-button value="h">H</mat-radio-button>
                                        <mat-radio-button value="km">KM</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.c">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>Fecha de falla {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput [matDatepicker]="pickerFechaFalla" formControlName="fechaFalla" placeholder="Seleccione una fecha">
                                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaFalla"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaFalla></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.f">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">N° de parte del componente que falló</mat-label>
                                        <input matInput type="text" placeholder="Ingresar" formControlName="numParteFallo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.d">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>Fecha inicio de la garantía {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput [matDatepicker]="pickerFechaGarantia" formControlName="fechaInicioGarantia" placeholder="Seleccione una fecha">
                                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaGarantia"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaGarantia></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="viewsTypesWarranty.h">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>Fecha de ejecucion {{textoSegunTipoDeGarantia(formRegisterEngine.value.tipoGarantia)}}</mat-label>
                                        <input matInput [matDatepicker]="pickerFechaEjecucion" formControlName="fechaAdicional" placeholder="Seleccione una fecha">
                                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                        <mat-datepicker-toggle matSuffix [for]="pickerFechaEjecucion"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFechaEjecucion></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <hr width="100%" color="#E2E8F0">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 margin-b-15 d-flex align-items-center">
                                    <span class="font-w-500 font-sz-16">Quejas | </span>
                                    <button type="button" mat-icon-button color="primary" (click)="agregarQueja()" title="Agregar queja">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always">
                                        <mat-label for="">Queja</mat-label>
                                        <mat-select placeholder="Seleccionar" formControlName="idQueja1">
                                            <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                        <mat-hint>-</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always" *ngIf="verQueja2">
                                        <mat-label for="">Queja</mat-label>
                                        <mat-select placeholder="Seleccionar" formControlName="idQueja2">
                                            <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                        <mat-hint><span class="text-danger pointer" (click)="ocultarQueja(2)">Eliminar</span></mat-hint>
                                        <!-- <button mat-icon-button matSuffix (click)="ocultarQueja(2)" color="primary">
                                            <mat-icon >close</mat-icon>
                                        </button> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always" *ngIf="verQueja3">
                                        <mat-label for="">Queja</mat-label>
                                        <mat-select placeholder="Seleccionar" formControlName="idQueja3">
                                            <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                        <mat-hint><span class="text-danger pointer" (click)="ocultarQueja(3)">Eliminar</span></mat-hint>
                                        <!-- <button mat-icon-button matSuffix (click)="ocultarQueja(3)" color="primary">
                                            <mat-icon >close</mat-icon>
                                        </button> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always" *ngIf="verQueja4">
                                        <mat-label>Queja</mat-label>
                                        <mat-select placeholder="Seleccionar" formControlName="idQueja4">
                                            <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                        </mat-select>
                                        <mat-hint><span class="text-danger pointer" (click)="ocultarQueja(4)">Eliminar</span></mat-hint>
                                        <!-- <button mat-icon-button matSuffix (click)="ocultarQueja(4)" color="primary">
                                            <mat-icon >close</mat-icon>
                                        </button> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>Usuario Registrador</mat-label>
                                        <input matInput type="text" [disabled]="true" [value]="usuarioDeLaSession.nombres">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>Comentarios</mat-label>
                                        <textarea matInput placeholder="Ingrese sus comentarios" formControlName="comentarios"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-bottom: 20px;">
                    <!-- OBSERVAR REGISTRO BLANCO -->
                    <button mat-raised-button *ngIf="verCamposBandeja>0" (click)="observarRegistro()">Observar</button>
                    <!-- RECHAZAR REGISTRO BLANCO -->
                    <button mat-raised-button *ngIf="verCamposBandeja>0" (click)="rechazarRegistro()">Rechazar</button>
                    <!-- BOTONES PARA REGISTRO NUEVO -->
                    <button mat-raised-button *ngIf="action=='new'" (click)="guardarBorradorRegistroNuevo()">Guardar borrador</button>
                    <button mat-raised-button *ngIf="action=='new'" color="primary" (click)="guardarBandejaBlancaRegistroNuevo()">Enviar registro</button>                    
                    <!-- BOTONES PARA EDITAR UN BORRADOR Y PARA ENVIAR UN REGISTRO A BLANCO -->
                    <button mat-raised-button *ngIf="verCamposBandeja==0" (click)="editarBorrador()">Guardar</button>
                    <button mat-raised-button *ngIf="verCamposBandeja==0" (click)="enviarBorradorParaBandejaBlanca()" color="primary">Enviar Registro</button>
                    <!-- BOTONES PARA EDITAR REGISTRO BLANCO Y PASAR A NARANJA -->
                    <button mat-raised-button *ngIf="verCamposBandeja==1" (click)="guardarBlancoEditado()">Guardar</button>
                    <button mat-raised-button *ngIf="verCamposBandeja==1" color="primary" (click)="enviarBlancaParaNaranja()">Transformar</button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>