<div matDialogTitle>
    <div class="row">
        <div class="col-md-11">
            <span>Checklist Informe</span>
        </div>
        <div class="col-md-1 text--end">
            <mat-icon class="pointer" svgIcon="close" (click)="onClose(false)"></mat-icon>
        </div>
    </div>
</div>
<div matDialogContent>
    <form *ngIf="formGroup" [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-12">
                <mat-checkbox formControlName="checklist1" color="primary">
                    Factura de compra o constancia de puesta en servicio adjunta.</mat-checkbox>
                    <mat-checkbox formControlName="checklist2" color="primary">
                        Orden de reparación o reporte de servcio con firma del técnico y cleinte.</mat-checkbox>
                        <mat-checkbox formControlName="checklist3" color="primary">
                            ¿Es la narrativa coherente con la orden de reparación?</mat-checkbox>
                            <mat-checkbox formControlName="checklist4" color="primary">
                                ¿Existen imagenes INSITE adjuntas?</mat-checkbox>
                                <mat-checkbox formControlName="checklist5" color="primary">
                                    ¿Se tiene los repuestos usados en la reparación?</mat-checkbox>
                                    <mat-checkbox formControlName="checklist6" color="primary">
                                        Tarjeta de viaje y sisutento de gastos a reclamar.</mat-checkbox>
                                        <mat-checkbox formControlName="checklist7" color="primary">
                                            OrdAprobación del Jefe de area.</mat-checkbox>
            </div>
        </div>
    </form>
</div>
<div matDialogActions align="end">
    <button mat-raised-button color="primary" (click)="saveTransform()">Transformar</button>
</div>
