<div matDialogTitle class="text--end">
    <mat-icon class="pointer" svgIcon="close" (click)="onClose(false)"></mat-icon>
</div>
<div matDialogContent>
    <div class="row">
        <div class="col-md-12 flex-col-center margin-b-15">
            <span class="icon-info font-w-700 icon color-yellow"></span>
            <span class="font-w-700 color-yellow">Observar</span>
        </div>
        <div class="col-md-12 text--center" style="margin-top: 10px;">
            <span class="font-w-500">{{data.text}}</span>
        </div>
        <div class="col-md-12" style="padding: 0;margin-top: 20px;">
            <mat-form-field appearance="fill">
                <mat-label for="" class="font-w-700">Comentario</mat-label>
                <textarea matInput placeholder="Ingrese sus comentarios" [(ngModel)]="comentario"></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<div matDialogActions align="center">
    <button mat-raised-button (click)="onClose(false)">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onClose(true)">Si, observar</button>
</div>
