<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div class="bg-card" style="padding: 0 !important;width: 50%;height: 100vh;">
    <div class="w-12" style="padding: 0;margin: 0;width: 100% !important;">
      <img src="./../../../../assets/images/cummins_peru_logo.jpg" style="width: 90px;margin: 20px 0 0 20px;">
    </div>
    <div style="width: 100% !important;height: 65vh;flex-direction: column;display: flex;align-items: center;justify-content: center;">
      <!-- Title -->
      <div class="mt-8 text-4xl font-bold tracking-tight leading-tight text-center" style="font-size: 36px !important;"> Iniciar Sesión </div>
      <!-- Alert -->
      <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'" > {{ alert.message }} </fuse-alert>
      <!-- Sign in form -->
      <form class="mt-8" style="width: 220px;">
        <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" (click)="signIn()" >
          <span> Ingresar </span>
          <mat-icon svgIcon="iconsmind:windows_microsoft" class="ml-5"></mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full lg:px-28 white overflow-hidden dark:border-l">
    <img src="./../../../../assets/images/fondo.jpg" alt="">
  </div>
</div>
