<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4>Filtrar</h4>
    <button mat-icon-button type="button" (click)="matdialigRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="inset-x-0 bottom-0 w-full mb-3" *ngIf="loading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
  </div>

  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Código de orden</mat-label>
        <input
          matInput
          placeholder="Ingrese código de orden"
          formControlName="codigo"
        />
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Tipo de servicio</mat-label>
        <mat-select
          formControlName="idTipoServicio"
          placeholder="Seleccione un tipo de servicio"
        >
          <ng-container *ngIf="typeServices$ | async as typeServices">
            <mat-option *ngFor="let type of typeServices" [value]="type.id">{{
              type.nombre
            }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Estado</mat-label>
        <mat-select
          formControlName="idEstado"
          placeholder="Seleccione un estado"
        >
          <mat-option *ngFor="let state of states" [value]="state.id">{{
            state.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <a class="underline cursor-pointer">
        <span class="font-semibold" (click)="deleteFilters()"
          >Eliminar filtros</span
        >
      </a>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-end px-6 bg-gray-100">
    <button
      (click)="matdialigRef.close()"
      mat-button
      class="
        ml-4
        bg-gray-50
        border-solid border border-accent-300
        text-gray-700
        shadow-none
      "
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      (click)="filter()"
      [color]="'primary'"
      class="w-32"
    >
      <span> Aplicar filtros </span>
    </button>
  </div>
</form>
