.mat-card{
    margin-bottom: 20px;
}
.margin-b-15{
    margin-bottom: 15px;
}
.mat-label{
    font-weight: 700;
}
app-atc,
app-producto-nuevo-garantia-recon,
app-repuesto-nuevo-respuesto-defectuoso,
app-extendida-cap,
app-extendida-componente-mayor,
app-cdc, app-trp, app-atc, app-memo{ width: 100%; }