<div class="container">
    <div class="row">
        <div class="col-md-12 margin-b-15">
            <h4 class="font-w-700 margin-b-15">Crear registro básico del generador</h4>
            <span class="pointer" (click)="onGarantias()">Garantías</span> > <span class="text-red pointer">Crear registro</span>
        </div>
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <div class="col-md-12 margin-b-15"><h5>Registro básico</h5></div>
                    <form *ngIf="formRegisterEngine" [formGroup]="formRegisterEngine">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">ESN</mat-label>
                                    <input matInput type="text" placeholder="Buscar ESN" formControlName="esn">
                                    <button mat-icon-button matSuffix (click)="getEsn()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 flex-align-center">
                                <span class="flex-align-center pointer" (click)="onOpenDialogHistoriaEsn()">
                                    <mat-icon svgIcon="heroicons_outline:document-text"></mat-icon>
                                    Historial de Series 
                                </span>
                            </div>
                            <div class="col-md-3 flex-align-center">
                                <button mat-raised-button color="primary" (click)="onOpenDialogRegisterEnrollment()">Registrar matrícula</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <mat-card class="card-bg-gray">
                            <div class="row">
                                <div class="col-md-12 margin-b-15">
                                    <span class="font-w-500 font-sz-16">Información de matrícula</span>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Cliente</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.cliente">                                        
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Direccion</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.direccion">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Aplicacion de generador</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.aplicacion">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Modelo de generador</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.modelo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">CPL</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.cpl">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">PTO</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.etoPto">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Fecha inicio de garantía</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="enrollmentByEsn.fechaInicioGarantia">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 flex-align-center">
                                    <mat-checkbox color="primary" [value]="enrollmentByEsn.bis" [disabled]="true">BIS</mat-checkbox>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Orden de servicio</mat-label>
                                    <input matInput type="text" placeholder="Buscar N° OS" formControlName="os">
                                    <button mat-icon-button matSuffix (click)="getOs()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">BU</mat-label>
                                    <input matInput type="text" placeholder="Buscar N° OS">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <mat-card class="card-bg-gray">
                            <div class="row">
                                <div class="col-md-12 margin-b-15">
                                    <span class="font-w-500 font-sz-16">Información del SAP</span>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Clase de actividad</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="osObject.claseActividad">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Fecha de liberacion</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="osObject.fechaLib">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label for="">Area de servicios</mat-label>
                                        <input matInput [disabled]="true" type="text" placeholder="" [value]="osObject.codAreaServicios">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Tipo de garantía</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="tipoGarantia" (ngModelChange)="selectTypeWarranty()">
                                        <mat-option *ngFor="let warrantyType of warrantyTypes" [value]="warrantyType.value">{{warrantyType.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-9"></div>
                            <div class="col md-12">
                                <app-producto-nuevo-garantia-recon (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.a"></app-producto-nuevo-garantia-recon>
                                <app-producto-nuevo-garantia-recon (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.b"></app-producto-nuevo-garantia-recon>
                                <app-repuesto-nuevo-respuesto-defectuoso (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.c"></app-repuesto-nuevo-respuesto-defectuoso>
                                <app-repuesto-nuevo-respuesto-defectuoso (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.d"></app-repuesto-nuevo-respuesto-defectuoso>
                                <app-extendida-cap (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.e"></app-extendida-cap>
                                <app-extendida-componente-mayor (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.f"></app-extendida-componente-mayor>
                                <app-cdc (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.g"></app-cdc>
                                <app-trp (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.h"></app-trp>
                                <app-atc (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.i"></app-atc>
                                <app-memo (onGetForm)="onGetForm($event)" *ngIf="viewsTypesWarranty.j"></app-memo>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" color="#E2E8F0">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 margin-b-15">
                                <span class="font-w-500 font-sz-16">Quejas o Reclamos</span>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Queja 1</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="idQueja1">
                                        <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Queja 2</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="idQueja2">
                                        <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Queja 3</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="idQueja3">
                                        <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Queja 4</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="idQueja4">
                                        <mat-option *ngFor="let item of complaints" [value]="item.id">{{item.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Usuario registrador</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="idUsuarioEvaluador">
                                        <mat-option *ngFor="let user of users" [value]="user.value">{{user.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label for="">Comentarios</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="comentarios"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </form>
                </mat-card-content>
                <mat-card-actions align="end" style="margin-bottom: 20px;">
                    <button mat-raised-button (click)="onSaveDraft()">Guardar borrador</button>
                    <button mat-raised-button color="primary" (click)="sendRegister()">Enviar registro</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>