<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span><h4 class="font-w-700">Detalle de viaje</h4></span>
        </div>
        <div class="col-md-4 text--end">
            <button mat-raised-button color="primary" (click)="onDialogNewTravelDetail()">Agregar nuevo detalle de viaje</button>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Buscar por código</mat-label>
                <input type="text" matInput placeholder="label">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>

                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <ng-container matColumnDef="factor">
                    <th mat-header-cell *matHeaderCellDef> Factor</th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditTravelDetail(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogDeleteTravelDetail(element)">delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons 
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
              
        </div>
    </div>
</div>
