@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/dcp-garantias/fonts/icomoon.eot?wu2sgy');
  src:  url('assets/fonts/dcp-garantias/fonts/icomoon.eot?wu2sgy#iefix') format('embedded-opentype'),
    url('assets/fonts/dcp-garantias/fonts/icomoon.ttf?wu2sgy') format('truetype'),
    url('assets/fonts/dcp-garantias/fonts/icomoon.woff?wu2sgy') format('woff'),
    url('assets/fonts/dcp-garantias/fonts/icomoon.svg?wu2sgy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e904";
}
.icon-clipboard-remove:before {
  content: "\e903";
}
.icon-upload_file:before {
  content: "\e902";
}
.icon-garantia:before {
  content: "\e909";
  color: #fff;
}
.icon-report:before {
  content: "\e90a";
}
.icon-configuracion:before {
  content: "\e905";
  color: #fff;
}
.icon-herramientas:before {
  content: "\e906";
  color: #fff;
}
.icon-fallas:before {
  content: "\e907";
  color: #fff;
}
.icon-home:before {
  content: "\e908";
  color: #fff;
}
.icon-car:before {
  content: "\e900";
}
.icon-electric-generator:before {
  content: "\e901";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
