<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span><h4 class="font-w-700">SRT</h4></span>
        </div>
        <div class="col-md-4 text--end">
            <button mat-raised-button (click)="onUpdateSrt()">Actualizar SRT</button>
            <button mat-raised-button color="primary" (click)="onDialogNewSrt()">Agregar nueva SRT</button>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Buscar por código</mat-label>
                <input type="text" matInput placeholder="label">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef width="10%"> Codigo SRT </th>
                    <td mat-cell *matCellDef="let element"> {{element.grupoSrt}}-{{element.procedimiento}} </td>
                  </ng-container>
                  <ng-container matColumnDef="grupoSRT">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Grupo SRT </th>
                    <td mat-cell *matCellDef="let element"> {{element.grupoSrt}} </td>
                  </ng-container>
                  <ng-container matColumnDef="codigoAcceso">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Codigo acceso </th>
                    <td mat-cell *matCellDef="let element">{{element.codigoAcceso}}</td>
                  </ng-container>
                  <ng-container matColumnDef="procedimiento">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Procedimiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.procedimiento}} </td>
                  </ng-container>
                  <ng-container matColumnDef="paso">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Paso </th>
                    <td mat-cell *matCellDef="let element"> {{element.paso}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.procedimiento}} </td>
                  </ng-container>
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo==1?'Motor':'Generador'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="dondeSeReparo">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Donse se reparo </th>
                    <td mat-cell *matCellDef="let element"> {{element.lugar==1?'Taller':'Campo'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fabricaSRT">
                    <th mat-header-cell *matHeaderCellDef width="9%"> SRT Fabrica </th>
                    <td mat-cell *matCellDef="let element"> {{element.srtFabrica}} </td>
                  </ng-container>
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado==1?'Activo':'Inactivo'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef width="9%"> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditSRT(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogDeleteSrt(element)">delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="pb-3 text-right">
                  <span class="mr-1">Pag.:</span><span class="font-w-500 mr-1">{{pageCurrent}} de {{numberOfPages}}</span>
                  <span class="mr-1">Total:</span><span class="font-w-500">{{totalRecords}}</span>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonLess" (click)="changePage('less')">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonMore" (click)="changePage('more')">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                </div>
              </div>              
        </div>
    </div>
</div>