<div class="container">
    <div class="row">
        <div class="col-md-8">
            <span><h4 class="font-w-700">Modelo de motor</h4></span>
        </div>
        <div class="col-md-4 text--end">
            <button mat-raised-button color="primary" (click)="onDialogNewEngineModel()">Agregar nuevo modelo de motor</button>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Buscar por código</mat-label>
                <input type="text" matInput placeholder="label">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef width="50%"> Descripcion </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado==1?'Activo':'Inactivo'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef width="10%"> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditEngineModel(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogDeleteEngineModel(element)">delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="pb-3 text-right d-flex align-items-center justify-content-end px-3">
                  <span class="mr-1 fw-bold">{{pageCurrent==1?1:pageCurrent*10-9}}-{{totalRecords>(pageCurrent*10)?pageCurrent*10:totalRecords}}</span>
                  <span class="mr-1" style="color: #1E293B"> de </span><span class="fw-bold">{{totalRecords}}</span>
                  <button mat-icon-button aria-label="Example icon button with a home icon" [disabled]="disabledButtonLess" (click)="changePage('less')">
                    <mat-icon style="color:#1E293B">chevron_left</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Example icon button with a home icon" [disabled]="disabledButtonMore" (click)="changePage('more')">
                    <mat-icon style="color:#1E293B">chevron_right</mat-icon>
                  </button>
                </div>
              </div>
              
        </div>
    </div>
</div>

