<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mb-3">
            <h4 class="font-w-700 margin-b-15">Crear registro de fallas</h4>
            <!-- <h4 *ngIf="accion=='new'" class="font-w-700 margin-b-15">Crear registro de fallas</h4>
            <h4 *ngIf="accion=='edit'" class="font-w-700 margin-b-15">Interna de registro Nº122344555</h4> -->
            <span class="pointer" (click)="onListfallas()">Fallas</span> > <span class="text-red pointer"> {{this.accion=='new'?'Crear registro':'Registro de Falla'}}</span>
        </div>
        <div class="col-md-12 mb-5 text-end" *ngIf="this.accion=='edit'?true:false">
            <button type="button" mat-raised-button (click)="modalDescargarDocumentos()" class="color-button-selected-documents">
                <img src="./../../../../../assets/icons/fallas-download-document.svg" class="me-1" alt="">Descargar documentos
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mb-3">
            <mat-accordion>
                <!-- REGISTRO DE LA FALLA -->
                <mat-expansion-panel [expanded]="!verDFSE">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold fs-6">Registro básico</mat-panel-title>
                        <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr color="#E2E8F0">
                    <form *ngIf="formFalla" [formGroup]="formFalla">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Orden de Servicio <span class="text-danger">*</span></mat-label>
                                            <input matInput type="text" placeholder="N° OS" formControlName="os">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">IO</mat-label>
                                            <input matInput type="text" placeholder="N° IO" formControlName="io">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label for="">ESN <span class="text-danger">*</span></mat-label>
                                            <input matInput type="text" placeholder="Buscar ESN" formControlName="esn"> <!-- (ngModelChange)="getEsn()"> -->
                                            <button type="button" mat-icon-button matSuffix color="primary" (click)="getEsn()" [disabled]="this.accion=='edit'?true:false">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                            <mat-hint *ngIf="mostrarProgressBarEsn"><mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar></mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                                        <button mat-raised-button type="button" color="primary" (click)="onRegistrarMatricula()">Registrar Matricula</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-8">
                                <mat-card class="card-bg-gray">
                                    <div class="row">
                                        <div class="col-md-12 mb-5">
                                            <span class="fs-6">Información de matrícula</span>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field floatLabel="always">
                                                <mat-label class="fw-bold">Cliente</mat-label>
                                                <input matInput type="text" [value]="matriculaEncontrada!=null?matriculaEncontrada.cliente:'-'" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field floatLabel="always">
                                                <mat-label class="fw-bold">Aplicación de {{fallaParaGestionar==null?tipoDeEquipo:fallaParaGestionar.tipo==1?'motor':fallaParaGestionar.tipo==2?'generador':'!error¡'}}</mat-label>
                                                <input matInput type="text" [value]="matriculaEncontrada!=null?matriculaEncontrada.aplicacion:'-'" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field floatLabel="always">
                                                <mat-label class="fw-bold">Modelo del {{fallaParaGestionar==null?tipoDeEquipo:fallaParaGestionar.tipo==1?'motor':fallaParaGestionar.tipo==2?'generador':'!error¡'}}</mat-label>
                                                <input matInput type="text" [value]="matriculaEncontrada!=null?matriculaEncontrada.modelo:'-'" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Area de servicio <span class="text-danger">*</span></mat-label>
                                            <mat-select placeholder="Seleccionar" formControlName="idArea">
                                                <mat-option *ngFor="let areaDeServicio of maestraAreasDeServicio" [value]="areaDeServicio.id" >
                                                    {{areaDeServicio.codigo}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Aplicacion del equipo</mat-label>
                                            <input matInput type="text" placeholder="Ingresar aplicacion" formControlName="aplicacion">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">N° de parte del repuesto</mat-label>
                                            <input matInput type="text" placeholder="Ingrese el numero de parte" formControlName="numParte">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Punto de falla</mat-label>
                                            <input matInput type="text" placeholder="Ingrese el punto de falla" formControlName="puntoFalla">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                                        <mat-radio-group aria-label="Select an option" color="primary" formControlName="tipoFalla">
                                            <mat-radio-button value="h">H</mat-radio-button>
                                            <mat-radio-button value="km">KM</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Fecha de falla <span class="text-danger">*</span></mat-label>
                                            <input matInput [matDatepicker]="pickerFechaFalla" placeholder="Ingrese una fecha" formControlName="fechaFalla" disabled [max]="fechaHoy">
                                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                            <mat-datepicker-toggle matSuffix [for]="pickerFechaFalla"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerFechaFalla [disabled]="this.accion=='edit'?true:false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Descripción</mat-label>
                                            <input matInput type="text" placeholder="Ingrese la descripción" formControlName="descripcion">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Usuario que reporta</mat-label>
                                            <input matInput type="text" [disabled]="true" [value]="usuarioDeLaSession.nombres">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 margin-b-15 d-flex align-items-center">
                                        <span class="font-w-500 font-sz-16">Quejas</span>
                                        <button type="button" mat-icon-button color="primary" (click)="agregarQueja()" title="Agregar queja">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Queja</mat-label>
                                            <mat-select placeholder="Seleccionar" formControlName="queja1">
                                                <mat-option *ngFor="let queja of maestraQuejas" [value]="queja.id">
                                                    {{queja.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint>-</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always" *ngIf="verQueja2">
                                            <mat-label class="fw-bold">Queja</mat-label>
                                            <mat-select placeholder="Seleccionar" formControlName="queja2">
                                                <mat-option *ngFor="let queja of maestraQuejas" [value]="queja.id">
                                                    {{queja.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint><span class="text-danger pointer" (click)="ocultarQueja(2)">Eliminar</span></mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field floatLabel="always" *ngIf="verQueja3">
                                            <mat-label class="fw-bold">Queja</mat-label>
                                            <mat-select placeholder="Seleccionar" formControlName="queja3">
                                                <mat-option *ngFor="let queja of maestraQuejas" [value]="queja.id">
                                                    {{queja.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint><span class="text-danger pointer" (click)="ocultarQueja(3)">Eliminar</span></mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field floatLabel="always">
                                            <mat-label class="fw-bold">Breve descripción de los eventos</mat-label>
                                            <textarea matInput placeholder="Ingrese sus comentarios" formControlName="evento"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <!-- INGENIERO DE SOPORTE -->
                <mat-expansion-panel *ngIf="verDFSE" [expanded]="verDFSE">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold fs-6">Ingeniero de soporte</mat-panel-title>
                        <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr color="#E2E8F0">
                    <form *ngIf="formIngDeSoporte" [formGroup]="formIngDeSoporte">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Discusión</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="discucion"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Conclusión</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="conclusion"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Recomendaciones</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="recomendacion"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <!-- DFSE -->
                <mat-expansion-panel *ngIf="verFabrica" [expanded]="verFabrica">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold fs-6">DFSE</mat-panel-title>
                        <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr color="#E2E8F0">
                    <form *ngIf="formDFSE" [formGroup]="formDFSE">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Issue Category</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="issueCategory">
                                        <mat-option *ngFor="let item of items" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Nivel de Soporte</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="nivelSoporte">
                                        <mat-option *ngFor="let nivel of niveles" [value]="nivel.id">
                                            {{nivel.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Subestado</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="subEstado">
                                        <mat-option *ngFor="let item of items" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label>TSR</mat-label>
                                    <input matInput type="text" placeholder="Ingresar" formControlName="tsr">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 flex-xy-center">
                                <div class="row" style="width: 100%;">
                                    <div class="col-md-12 mb-6 p-0">
                                        <mat-label class="fw-bold">Parts return</mat-label>
                                    </div>
                                    <div class="col-md-12 mb-2 p-0">
                                        <mat-radio-group color="primary" formControlName="partsReturn" (ngModelChange)="mostrarTrackingNumber()">
                                            <mat-radio-button value="si">Si</mat-radio-button>
                                            <mat-radio-button value="no">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always" *ngIf="mostrarTrakingNumber">
                                    <mat-label>Tracking Number</mat-label>
                                    <input matInput type="text" formControlName="trakingNumber">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always" *ngIf="mostrarTrakingNumber">
                                    <mat-label>Subestado de Parts Return</mat-label>
                                    <mat-select placeholder="Placeholder" formControlName="subestadoPartsReturn">
                                        <mat-option *ngFor="let item of items2" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Fecha de inicio de desarmado de  {{fallaParaGestionar==null?tipoDeEquipo:fallaParaGestionar.tipo==1?'motor':fallaParaGestionar.tipo==2?'generador':'!error¡'}}</mat-label>
                                    <input matInput [matDatepicker]="pickerFechaInicioDesarmado" placeholder="Ingrese una fecha" formControlName="fechaIniDesarmeMotor">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaInicioDesarmado"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaInicioDesarmado></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Fecha de fin de desarmado de {{fallaParaGestionar==null?tipoDeEquipo:fallaParaGestionar.tipo==1?'motor':fallaParaGestionar.tipo==2?'generador':'!error¡'}}</mat-label>
                                    <input matInput [matDatepicker]="pickerFechaFinDesarmado" placeholder="Ingrese una fecha" formControlName="fechaFinDesarmeMotor">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaFinDesarmado"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaFinDesarmado></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Fecha de solicitud de partes</mat-label>
                                    <input matInput [matDatepicker]="pickerFechaSolicitudDePartes" placeholder="Ingrese una fecha" formControlName="fechaSolPartes">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaSolicitudDePartes"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaSolicitudDePartes></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field floatLabel="always">
                                    <mat-label class="fw-bold">Fecha de envío</mat-label>
                                    <input matInput [matDatepicker]="pickerFechaDeEnvio" placeholder="Ingrese una fecha" formControlName="fechaEnvio">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matSuffix [for]="pickerFechaDeEnvio"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFechaDeEnvio></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Discusión</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="discucionDfse"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Conclusión</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="conclusionDfse"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Recomendaciones</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="recomendacionesDfse"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <!-- FABRICA -->
                <mat-expansion-panel *ngIf="verCerrarCaso" [expanded]="verCerrarCaso">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold fs-6">FABRICA</mat-panel-title>
                        <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <hr color="#E2E8F0">
                    <form *ngIf="formFabrica" [formGroup]="formFabrica">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Conclusión de fábrica</mat-label>
                                    <textarea matInput placeholder="Ingrese sus conclusiones" formControlName="conclusionesFabrica"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field floatLabel="always">
                                    <mat-label>Comentarios de fábrica</mat-label>
                                    <textarea matInput placeholder="Ingrese sus comentarios" formControlName="comentariosFabrica"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>                       
            </mat-accordion>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <span class="font-w-700">Documentos</span>
                </div>
                <div class="col-md-12 mb-5">
                    <button type="button" mat-raised-button (click)="adjuntarDocumento()" class="color-button-selected-documents">
                        <img src="./../../../../../assets/icons/fallas-upload-document.svg" class="me-1" alt=""> Adjuntar documentos
                    </button>
                </div>
                <div class="col-md-12 mb-5">
                    <button type="button" mat-raised-button *ngFor="let documento of documentos" class="color-button-document mx-1 my-1">
                        {{documento.name}}
                        <!-- <mat-icon (click)="deleteDocumentDetalleReclamo(documento.name)">close</mat-icon> -->
                        <button mat-icon-button (click)="deleteDocumentDetalleReclamo(documento.name)"><mat-icon>close</mat-icon></button>
                    </button>
                </div>
                <!-- <div class="col-md-12 mb-5">
                    <div class="row">
                        <div class="col-md-2 d-flex justify-content-start align-items-center" *ngFor="let documento of documentos">
                            <span>{{documento.name}}</span>
                            <button mat-icon-button (click)="deleteDocumentDetalleReclamo(documento.name)"><mat-icon>close</mat-icon></button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-12 text-end mb-5">
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonUsuarioRegistrador" (click)="registrarFalla()">Guardar registro</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonEscalarDfse" (click)="guardarRegistroIngenieroDeSoporte()">Guardar registro</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonEscalarFabrica" (click)="guardarRegistroDFSE()">Guardar registro</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonCerrarCaso" (click)="guardarRegistroFabrica()">Guardar registro</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonCerrarCasoIngDeSoporte" (click)="cerrarCasoIngDeSoporte()">Cerrar caso</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonCerrarCasoDfse" (click)="cerrarCasoDfse()">Cerrar caso</button>
            <button type="button" mat-raised-button class="mx-1" *ngIf="botonObservar" (click)="observarFalla()">Observar</button>
            <button type="button" mat-raised-button color="primary" class="mx-1" *ngIf="botonUsuarioEscalador" (click)="escalarFalla()">Escalar falla</button>
            <button type="button" mat-raised-button color="primary" class="mx-1" *ngIf="botonEscalarDfse" (click)="escalarFallaHaciaDFSE()" [disabled]="this.fallaParaGestionar.estado==2">Escalar a DFSE</button>
            <button type="button" mat-raised-button color="primary" class="mx-1" *ngIf="botonEscalarFabrica" (click)="escalarHaciaFabrica()" [disabled]="this.fallaParaGestionar.estado==2">Escalar a Fabrica</button>
            <button type="button" mat-raised-button color="primary" class="mx-1" *ngIf="botonCerrarCaso" (click)="cerrarCaso()">Cerrar caso</button>
        </div>
    </div>
</div>