<h3 matDialogTitle>Registrar matrícula</h3>
<div matDialogContent>
    <form *ngIf="formEnrollment" [formGroup]="formEnrollment">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 margin-b-15">
                        <span class="font-sz-18 font-w-500">Datos del cliente</span>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Cliente <span class="color-red">*</span></mat-label>
                            <mat-select placeholder="seleccionar" formControlName="idCliente" (ngModelChange)="setDirectionClient()">
                                <mat-option *ngFor="let item of clients" [value]="item.id">
                                    {{item.razonSocial}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <mat-label>Dirección:</mat-label>
                            <input matInput [disabled]="true" type="text" [value]="directionClient">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <hr width="100%" color="#E2E8F0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 margin-b-15">
                        <span class="font-sz-18 font-w-500">Datos del {{data.name}}</span>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>ESN <span class="color-red">*</span></mat-label>
                            <input matInput type="text" formControlName="esn">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Modelo del {{data.name}} <span class="color-red">*</span></mat-label>
                            <mat-select placeholder="seleccionar" formControlName="idModelo">
                                <mat-option *ngFor="let item of engineModels" [value]="item.id">
                                    {{item.codigo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>     
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Aplicacion del {{data.name}} <span class="color-red">*</span></mat-label>
                            <mat-select placeholder="Placeholder" formControlName="idAplicacion">
                                <mat-option *ngFor="let item of engineApplications" [value]="item.id">
                                    {{item.codigo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>     
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>CPL <span class="color-red">*</span></mat-label>
                            <input matInput type="text" formControlName="cpl">
                        </mat-form-field>     
                    </div>
                    <div class="col-md-4 flex-xy-center">
                        <mat-checkbox color="primary" formControlName="bis">Tiene BIS</mat-checkbox>
                    </div>                                  
                    <div class="col-md-4">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de inicio de garantía <span class="color-red">*</span></mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaInicioGarantia">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
            </div>
            <hr width="100%" color="#E2E8F0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 margin-b-15">
                        <span class="font-sz-18 font-w-500">Datos opcionales</span>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Potencia(HP)</mat-label>
                            <input matInput type="text" formControlName="potencia">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Lugar operación</mat-label>
                            <input matInput type="text" formControlName="lugar">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4" style="display: grid;">
                        <mat-label>Canal de venta</mat-label>
                        <mat-radio-group aria-label="Select an option" color="primary" formControlName="canal">
                            <mat-radio-button value="DDEM">DDEM</mat-radio-button>
                            <mat-radio-button value="CUMMINS PERU">CUMMINS PERU</mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Cliente final</mat-label>
                            <input matInput type="text" formControlName="clienteFinal">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Equipo</mat-label>
                            <input matInput type="text" formControlName="equipo">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Alt de trabajo (msnm)</mat-label>
                            <input matInput type="text" formControlName="altura">
                        </mat-form-field>                    
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>PTO</mat-label>
                            <input matInput type="text" formControlName="etoPto">
                        </mat-form-field>                    
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div matDialogActions align="end">
    <button mat-raised-button (click)="onClose()">Salir</button>
    <button mat-raised-button color="primary" (click)="onSaveEnrollment()">Guardar</button>
</div>