<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span><h4 class="font-w-700">Garantías</h4></span>
                </div>
                <div class="col-md-2">
                    <div matRipple class="notification-green" *ngIf="seeNotificationCreateWarrantySuccessfully">
                      <mat-icon svgIcon="heroicons_solid:check-circle"></mat-icon>  Se creó correctamente
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 flex-end">
                    <span class="pointer" (click)="onOpenDialogHistoriaEsn()">
                        <mat-icon svgIcon="heroicons_outline:document-text"></mat-icon>
                        Historial de ESN
                    </span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 flex-end btn-register">
                    <button mat-raised-button (click)="onMassiveRegistrationBasic()">
                        Registro básico masivo
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 flex-end btn-register">
                    <button mat-raised-button color="primary" (click)="onOpenDialogQuestionNewRecord()">
                        Registro básico individual
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 selectors">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 search">
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="Buscar N° OS">
                        <button mat-icon-button matSuffix>
                            <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 search">
                    <mat-form-field appearance="fill">
                        <input matInput type="text" placeholder="Buscar N° ESN">
                        <button mat-icon-button matSuffix>
                            <mat-icon svgIcon="heroicons_outline:search"></mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Areas</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                      
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Bandeja</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>        
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Antiguedad</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>        
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                  <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> N° OS </th>
                    <td mat-cell *matCellDef="let element"> {{element.os}} </td>
                  </ng-container>
                  <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef> Serie </th>
                    <td mat-cell *matCellDef="let element"> {{element.esn}} </td>
                  </ng-container>
                  <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> Area </th>
                    <td mat-cell *matCellDef="let element"> {{element.areaServicio}} </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.agrupacion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="failureDate">
                    <th mat-header-cell *matHeaderCellDef> Fecha de falla </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaFalla}} </td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Monto ($) </th>
                    <!-- {{element.amount | currency: 's/.': 'symbol':''}}  cuando es en soles -->
                    <td mat-cell *matCellDef="let element"> {{element.monto?0:element.monto | currency:'symbol':''}} </td>
                  </ng-container>
                  <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                  </ng-container>
                  <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Antiguedad </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-icon [ngStyle]="{'color':getColorAge(element.antiguedad)}">fiber_manual_record</mat-icon> {{element.antiguedad}} días 
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="inbox">
                    <th mat-header-cell *matHeaderCellDef> Bandeja </th>
                    <td mat-cell *matCellDef="let element">
                      <button [ngClass]="{'bgr-gray':element.bandeja==0}" mat-stroked-button>{{getWordInbox(element.bandeja)}}</button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{'observed':element.nombreEstado=='observado'}">
                      <mat-icon [ngClass]="{'observed':element.nombreEstado=='observado'}" [class]="'state'+element.nombreEstado" *ngIf="element.nombreEstado=='observado'" svgIcon="heroicons_outline:exclamation"></mat-icon><span>{{element.nombreEstado}}</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon (click)="onDialogEditConstant(element)">edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="row">
                                <div class="col-md-12"><span class="font-w-900">Detalles</span></div>
                                <div class="col-md-12"><span class="font-w-700">Fechas</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Dias en servicio</span><span>112 D</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Dias en PSG</span><span>112 D</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Dias de Fabrica</span><span>112 D</span></div>
                                <div class="col-md-12"><span class="font-w-700">Informe</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Fecha de aprobacion</span><span>12/11/21</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Monto del informe</span><span>$3400</span></div>
                                <div class="col-md-12"><span class="font-w-700">RapidServe</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Fecha de ingreso</span><span>12/11/21</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Monto total</span><span>$3400</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Claim#</span><span>12345</span></div>
                                <div class="col-md-12"><span class="font-w-700">Final de Pago</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Fecha de pago</span><span>12/11/21</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Monto final</span><span>$3400</span></div>
                                <div class="col-md-4 flex-column"><span class="font-w-500">Rentabilidad</span><span>14.60</span></div>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <p class="font-w-900">Bitacora</p>
                              <div class="scroll-vertical table-bitacora">
                                <table mat-table [dataSource]="dataSourceBitacora" class="mat-elevation-z8">
                                  <ng-container matColumnDef="fecha">
                                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                    <td mat-cell *matCellDef="let item"> {{item.fechaReg}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="evaluador">
                                    <th mat-header-cell *matHeaderCellDef> Evaluador </th>
                                    <td mat-cell *matCellDef="let item"> {{item.evaluador==null?'-':item.evaluador}} </td>
                                  </ng-container>                            
                                  <ng-container matColumnDef="comentario">
                                    <th mat-header-cell *matHeaderCellDef> Comentario </th>
                                    <td mat-cell *matCellDef="let item"> {{item.comentario==null?'-':item.comentario}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let item"> {{item.estado}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="monto">
                                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                                    <td mat-cell *matCellDef="let item"> {{item.amount==null?'0':item.amount}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="bandejaActual">
                                    <th mat-header-cell *matHeaderCellDef> Bandeja Actual</th>
                                    <td mat-cell *matCellDef="let item"> {{item.bandejaActual==null?'0':item.bandejaActual}} </td>
                                  </ng-container>                            
                                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBitacora"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBitacora;"></tr>
                                </table>      
                              </div>
                            </div>
                          </div>
                      </div>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                      [class.example-expanded-row]="expandedElement === element"
                      (click)="seeBitacora(element)"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                  
                </table>
              
                <div class="flex-xy-center mt-3">
                  <span>Total de garantías registradas: </span><span class="font-w-500"> {{totalCategories}}</span>
                  <span>--</span>
                  <span> Pagina: </span><span class="font-w-500">{{pageCurrent}} de {{numberOfPages}}</span>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonLess">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" [disabled]="disabledButtonMore">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                </div>
              </div>
              
        </div>
    </div>
</div>
